.navbar {
  display: flex;
  justify-content: space-between;
  padding: .3em 1em;
  background-color: var(--main-bg-color);
}

.navbar_logo {
  display: flex;
  align-items: center;
}

.navbar_logo img {
  width: 160px;
}

.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar ul li {
  margin-right: 1em;
}

.navbar_links {
  position: relative;
  color: var(--white);
  text-decoration: none;
  font-weight: 200;
  font-size: 1.3em;
  cursor: pointer;
}

.navbar_links:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}
.navbar_links:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
